.site-content .container{
    font-family: Arial, sans-serif;
    font-weight: 500 !important;
    max-width: 1400px;
    width: 100%;
}

.L1{
    background-image: linear-gradient(to bottom right, rgba(252, 250, 227, 0.5), rgba(241, 196, 45, 0.199));
    border: 1px solid gray;
    box-shadow: 1px 2px 0px #7c7c7c;
    border-radius: 10px;
    max-height: 220px;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    height: 100%;
}

.L1Hide{
    background-image: linear-gradient(to bottom right, rgba(252, 250, 227, 0.116), rgba(241, 196, 45, 0.199));
    border: 1px inset lightgray;
    box-shadow: 1px 2px 0px #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    min-height: 30px !important;
}

.L1Hide .secHeaders .title {
    display: none !important;
}

.L2{
    background-image: linear-gradient(to bottom right, rgba(218, 252, 252, 0.493), rgba(38, 144, 231, 0.185));
    border: 1px solid gray;
    box-shadow: 1px 2px 0px #7c7c7c;
    max-height: 220px;
    border-radius: 8px;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    height: 100%;
}

.L2Hide{
    background-image: linear-gradient(to bottom right, rgba(218, 252, 252, 0.322), rgba(38, 144, 231, 0.185));
    border: 1px inset lightgray;
    box-shadow: 1px 2px 0px #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    min-height: 30px !important;
}

.L2Hide .secHeaders .title {
    display: none !important;
}

.L3{
    background-image: linear-gradient(to bottom right, rgba(246, 255, 241, 0.76), rgba(18, 136, 14, 0.212));
    border: 1px solid gray;
    box-shadow: 1px 2px 0px #7c7c7c;
    border-radius: 8px;
    max-height: 220px;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
    font-size: 25px;
    height: 100%;
}

.L3Hide{
    background-image: linear-gradient(to bottom right, rgba(246, 255, 241, 0.493), rgba(18, 136, 14, 0.212));
    border: 1px inset lightgray;
    box-shadow: 1px 2px 0px #7c7c7c;
    border-radius: 10px;
    padding: 10px;
    min-height: 30px !important;
}

.L3Hide .secHeaders .title {
    display: none !important;
}

.L4{
    background-image: linear-gradient(to bottom right, rgba(173, 208, 247, 0.5), rgba(168, 211, 128, 0.199));
    border: 1px solid gray;
    box-shadow: 1px 2px 0px #7c7c7c;
    border-radius: 10px;
    max-height: 250px;
    padding: 8px 15px 15px 15px;
    font-size: 27px;
    font-weight: 500;
    height: 100%;
    min-height: 200px;
}

.dashboardBtn{
    position: absolute;
    right: 10px;
    bottom: 20%;
}

#printCss{
    box-shadow: none !important;
}

.contentlabel{
    color: rgba(161, 46, 46, 0.836);
}

.CCRS{
    color: rgba(63, 60, 60, 0.836);
    font-weight: bold;
}

.backdrop{
    background-color: lavender;
}

.Icon1, .Icon2, .Icon3{
    height: 50px;
    vertical-align: bottom;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    background-color: #fafafa;
}

.btn-lg{
    transform: translate(3px, 0px);
    box-shadow: -4px 5px lightgray;
    outline: none !important;
    transition: 
        box-shadow 0.15s ease,
        transform 0.15s ease;
}

.btnHelp{
    position: absolute;
    right: 2%;
    bottom: 25%;
}

.side{
    box-shadow: -1px 2px lightgray;
}

.side-text{
    box-shadow: -1px 2px lightgray;
    color: #000 !important;
}

.addOnHelp{
    color: rgba(15, 15, 15, 0.384) !important;
}

.notesHelp{
    position: absolute;
    right: 2%;
    bottom: 1%;
    color: rgba(15, 15, 15, 0.384) !important;
}

.custom{
    border: 1px solid gray;
}

.custom:hover{
    background-color: #e7e7e7 !important;
}

input.custom:focus {
    box-shadow: 0px 0px 5px rgb(44, 173, 216) !important;
    border: 1px solid gray !important;
}

.logo{
    height: 45px;
    vertical-align: top;
    cursor: pointer;
}

.loginLogo{
    max-width: 600px;
}

.grayIcon{
    cursor: pointer;
    vertical-align: top;
    border-radius: 3px;
    border: 1px solid rgb(105, 105, 105);
    box-shadow: 3px 3px 5px lightgray;
    background-color: whitesmoke;
    height: 35px;
    opacity: .6;
}

.grayIcon:hover{
    box-shadow: 2px 2px 4px gray;
    opacity: .7;
}

.mouseBox{
    box-shadow: none;
}
.mouseBox:hover{
    box-shadow: 0 0 4px grey;
}
.mouse{
    text-shadow: none;
}

.mouse:hover{
    text-shadow: 0 0 3px grey; 
}

.infoI{
    font-style: italic;
    font-weight: bold;
    opacity: 90%;
}

.NavBar{
    background-color: rgba(187, 211, 243, 0.281);
    box-shadow: 0px 1px 0px #a8a8a8;
}

.title{
    color: rgba(51, 49, 49, 0.555);
    font-size: 20px;
    text-shadow: -1px 1px rgba(179, 179, 179, 0.678);
}

.enter{
    box-shadow: -2px 3px lightgray;
}

.enter:active, .enter:focus{
    box-shadow: -2px 3px gray !important;
    outline: none !important;
}

.studentBtn{
    background-color: rgba(29, 112, 189, 0.863);
    color:#ffffff;
    transition: 
        box-shadow 0.15s ease,
        transform 0.15s ease;
    outline: none !important;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px 10px 5px 10px;
    transform: translate(4px, 0px);
    box-shadow: -3px 4px lightgray;
}
.studentBtn:hover{
    background-color: rgb(29, 93, 189);
    box-shadow: -3px 4px rgb(161, 161, 161);
    color: whitesmoke;
}
.studentBtn:active{
    box-shadow: 0 0 gray;
    transform: translate(0, 4px);
}

.teacherBtn{
    background-color: rgba(48, 165, 68, 0.863);
    color:#ffffff;
    transition: 
        box-shadow 0.15s ease,
        transform 0.15s ease;
    outline: none !important;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px 10px 5px 10px;
    transform: translate(4px, 0px);
    box-shadow: -3px 4px lightgray;
}
.teacherBtn:hover{
    background-color: rgba(28, 146, 48, 0.863);
    box-shadow: -3px 4px rgb(161, 161, 161);
    color: whitesmoke;
}
.teacherBtn:active{
    box-shadow: 0 0 gray;
    transform: translate(0, 4px);
}

.randoBtn{
    background-color: rgba(29, 112, 189, 0.863);
    color: whitesmoke;
    transition: 
        box-shadow 0.15s ease,
        transform 0.15s ease;
    outline: none !important;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 5px 10px 5px 10px;
    transform: translate(3px, 0px);
    box-shadow: -2px 3px lightgray;
    width: 140px;
}

.randoBtn:hover{
    background-color: rgb(29, 93, 189);
}

.disabledBtn{
    background-color: rgba(29, 112, 189, 0.466) !important;
    color: whitesmoke !important;
    outline: none;
    border-radius: 3px;
    border: 1px solid gray;
    padding: 5px 10px 5px 10px;
    width: 140px;
}

.randoBtn:active{
    box-shadow: 0 0 gray;
    transform: translate(0, 3px);
}

.advancedSection{
    margin-bottom: 50px;
}

.MainTitle{
    text-shadow: -1px 1px 1px rgb(179, 179, 179);
    font-weight: 700;
}

.SecTitle{
    margin-top: -10px;
    text-shadow: -1px 1px 1px rgb(179, 179, 179);
    font-weight: 700;
}

.textSm{
    font-size: 12px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.register{
    background-color: rgba(197, 197, 197, 0.329);
    padding: 10px 30px 25px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(179, 179, 179);
}

.mainContent{
    padding-bottom: 3rem;
}

.Login{
    background-color: rgba(197, 197, 197, 0.329);
    padding: 10px 30px 25px 30px;
    border-radius: 5px;
    height: 60%;
    box-shadow: 2px 2px 3px rgb(179, 179, 179);
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.topic{
    border-radius: 3px !important;
}

.textbox{
    border: 1px solid rgba(179, 179, 179, 0.87);
    border-radius: 5px;
    box-shadow: -1px 2px lightgray;
    min-height: 220px;
    padding: 5px 2px 2px 2px;
    overflow-wrap: break-word;
    max-width: 100%;
    position: relative;
}


.textbox:focus{
    box-shadow: 0px 0px 8px rgb(44, 173, 216),
                -1px 2px lightgray;
}
[contenteditable]:focus {
    outline: 1px solid transparent;
    border-radius: 5px;
}

.sideDiv{
    min-width: 200px;
    max-width: 100%;
}

.center{
    max-width: 100%;
}

.pdf{
    vertical-align: center;
}

#divToPrint{
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    max-width: 100%;
}

.ModalTitles{
    font-weight: bold;
    text-shadow: -1px 1px 1px rgb(179, 179, 179);
}

.l1t, .l2t, .l3t, .l1r, .l2r, .l3r, .l1p, .l2p, .l3p {
    font-weight: bold;
    cursor: pointer;
}

label{
    text-align: left;
}

#grade{
    font-weight: bold;
    cursor: pointer;
}

.subject {
    color: rgba(102, 117, 131, 0.445);
    cursor: pointer;
    display: inline;
    font-size: 22px;
    margin-right: 3%;
    text-align: center;
}

table td{
    transition: 0.3s !important;
}

table td:hover {
    background-color: rgba(0,0,0,.075);
    font-weight: 700 !important;
    cursor: pointer;
}

table td.input_td{
    padding: 5px;
}

.active {
    font-weight: bold;
    color: black;
    display: inline;
    font-size: 22px;
    text-align: center;
}

.signupBtn, .registerBtn{
    box-shadow: 1px 1px 3px rgb(179, 179, 179);
}

.regTitle{
    text-shadow: 1px 1px 0px rgb(179, 179, 179);
    text-transform: uppercase;
}

.different{
    font-style: italic;
    animation: color-change 3s infinite;
}

@keyframes color-change {
    0% { color: rgba(6, 87, 180, 0.829); }
    25% {color: rgba(34, 151, 10, 0.829); }
    50% { color: rgba(11, 181, 187, 0.829); }
    75% {color: rgba(194, 34, 34, 0.829); }
    100% { color: rgba(151, 39, 155, 0.829); }
}

.subjectBox{
    border: 1px solid rgba(179, 179, 179, 0.87);
    border-radius: 5px;
    width: 100%;
    box-shadow: -1px 2px lightgray;
}

.subjectBoxUnSelected{
    border: 1px solid rgba(179, 179, 179, 0.87);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 215, 253, 0.945),
                -1px 2px lightgray;
    width: 100%;
}

.subjectTitle{
    color: rgba(63, 60, 60, 0.836);
    font-weight: bold;
}

.secHeaders{
    position: relative !important;
}

.hider{
    position: absolute;
    right: 0;
    top: -12px;
    text-decoration: none;
}

.hider i{
    font-size: 20px;
    color: #353535;
}

.hider i:hover{
    color: #53a7ea;
}

.line{
    color: rgb(168, 165, 165) !important;
    font-weight: 500 !important;
}

.headerSection{
    justify-content: flex-end;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.selectDiv{
    padding-right: 0 !important;
}

ul.dcapOptions li {
    display:inline;
    padding-left: 10px;
    color: #353535;
}

ul.dcapOptions li:hover{
    cursor: pointer;
    color: #53a7ea;
}

ul.dcapOptions li i{
    font-size: 20px;
}

ul.dcapOptions li a{
    color: #353535;
}

ul.dcapOptions li a:hover{
    cursor: pointer;
    color: #53a7ea;
}

.saveThis{
    position: absolute;
    right: 20px;
    top: -8px;
    color: rgb(168, 165, 165) !important;
    text-decoration: none;
}

.saveThis:hover{
    color: black !important;
    font-weight: 600;
    box-shadow: none !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(15, 15, 15, 0.432);
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(15, 15, 15, 0.432);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(15, 15, 15, 0.432);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center .title{
	color: rgba(113, 20, 150, 0.945);
	text-shadow: 1px 1px 3px rgb(104, 103, 103);
}

#privacy{
    font-weight: lighter;
}

.dice{
    width: 100%;
    max-width: 250px;
    height: auto;
    box-shadow: 3px 4px 8px rgb(104, 103, 103);
    transform: translatey(0px);
    animation: float 6.5s ease-in-out infinite;
    padding: 7px;
    border-radius: 5px;
    background-color: #ffffff;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.flex{
    display: flex;
    justify-content: center;
}

.dice:hover{
    cursor: grab;
}

.arrow {
	border: solid rgba(137, 31, 179, 0.925);
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 5px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.up {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
}

.backdrop{
	background-color: rgba(176, 184, 199, 0.37);
	border-radius: 50%;
    width: 470px; 
    height: 400px;
    position: relative;
}

.backdropRolling{
	background-color: rgba(176, 184, 199, 0.096);
	border-radius: 50%;
	width: 470px; 
    height: 400px;
    position: relative;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.brandName{
    text-align: left;
    font-size: 17px !important;
    line-height: 19px !important;
}

.mainContent{
    padding-bottom: 3rem;
}

.Lit{
    height: 100%;
    width: 60%;
}

.statement{
    margin-top: -10px;
}

.dc-button-link{
    cursor: pointer;
    color: blue !important;
}

.dc-button-link:hover{
    color: #000 !important;
}

.dc-contactus{
    color: blue !important;
}

.dc-contactus:hover{
    color: #000 !important;
}

.mobdel-body{
    margin: 0;
}

.picker{
    animation: fadeInAnimationPicker ease 0.9s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    display: block;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: honeydew;
    box-shadow: 2px 2px 3px lightgray;
    border-radius: 5px;
}
@keyframes fadeInAnimationPicker { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}

.diceDiv{
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
}

.sideCards{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 300px;
}

.litSideCards{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
}

.mainCard{
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
}

.mainCard:hover{
    box-shadow: 3px 3px 5px gray;
}

.eachCard{
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
}

.Qtitle{
    text-shadow: 3px 3px 3px lightgray;
}

.titleBox{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(250, 250, 210, 0.404);
    box-shadow: 1px 1px 2px lightgray;
}
.titleBox h3{
    font-size: 18px;
}

.mainTitle{
    text-shadow: 2px 2px 3px lightgray;
}

#root{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

.container{
    padding-bottom: 3rem;
    margin-top: 30px;
}

.customDiscBtn{
    white-space: normal !important;
}

.dc-wrapper{
    width: 100%;
    position: relative;
    min-height: 70vh;
}

.title{
    display: flex;
    justify-content: center;
}

.DC{
    text-shadow: 3px 3px 5px lightgray;
}

.topBar{
    border-radius: 3px;
    box-shadow: 1px 1px 0px rgb(141, 141, 141);
    transition: 0.5s;
    width: 280px;
    position: relative;
    display: block;
    margin-top: 1%;
}

.topBar:hover{
    transform: translate(4%);
}

.inputs{
    display: flex;
    justify-content: space-around;
}

#title{
    color: black;
    text-shadow: 3px 3px 5px lightgray;
    margin-top: -12px;
}

.buttons{
    z-index: 9 !important;
}

/* .form-control{
    box-shadow: 1px 1px 0px lightgray;
}
.form-control:hover{
    box-shadow: 3px 3px 5px gray;
} */

.infoToast{
    margin: 0 auto;
    background-color: #fafafa !important;
}

.toast-header{
    background-color: #53a7ea !important;
    color: #000000 !important;
}

.toast-header .close{
    display: none !important;
}

.modal-header .close{
    display: block !important;
    line-height: 1 !important;
    opacity: .5 !important;
    font-size: 1.5rem !important;
}

.modal-body{
    margin: 0 !important;
}

.successBox{
    border-radius: 5px;
    background-color: #5cb85c;
    color: #ffffff;
    padding-top: 10px;
}

.emailBtn{
    box-shadow: 1px 1px 0px gray;
}

#generate{
    box-shadow: 2px 1px 0px lightgray;
}
#generate:hover{
    box-shadow: 2px 2px 3px gray;
}

.sentence{
    margin-left: auto;
    margin-right: auto;
}

.icon{
    transition: 0.2s;
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 3px 3px 5px lightgray;
    background-color: whitesmoke;
    height: 50px;
}
.icon:hover{
    box-shadow: 2px 2px 0px rgba(99, 99, 99, 0.904);
    height: 51px;
}

.grayIcon{
    margin: 3px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 3px 3px 5px lightgray;
    background-color: whitesmoke;
    height: 40px;
    opacity: .35;
}
.grayIcon:hover{
    box-shadow: 2px 2px 4px gray;
    opacity: .5;
}

.iconEx{
    margin: 2px;
    border-radius: 3px;
    border: 1px solid black;
    max-width: 50px;
    padding: 2px;
    box-shadow: 1px 1px 2px gray;
    background-color: whitesmoke;
    opacity: .8;
}

.signIn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLink{
    color: #343a40 !important;
    line-height: 1;
    padding-right: 10px;
    transition: 0.3s;
}

.navLink:hover{
    color:#32c4e9 !important;
    cursor: pointer;
}

.navMain{
    color: #343a40 !important;
    line-height: 1;
    padding-right: 10px;
    transition: 0.5s;
}

.boldText{
    font-weight: 700 !important;
}
.noteHelpLoginPage{
    font-size: 15px !important;
    line-height: 1.7;
    background-color: #faffcc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #3b3b3b;
}

.navMain:hover{
    color:#32c4e9 !important;
    cursor: pointer;
}

.topMain{
    z-index: 0;
}

.bar{
    z-index: 99;
    position: relative;
}

#navBar{
    background-color: #ffffff !important;
    border-bottom: 1px solid #5e5e5e;
    box-shadow: 0px 0px 3px #8a8a8a;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 80px;
}

.textSm{
    font-size: 12px;
}

.wrap{
    position: relative;
    text-align: center;
}

.centerSyn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.helpLink{
    transition: 0.2s;
    text-decoration: underline;
    font-size: 1.2rem;
    color: #c91515;
    position: absolute;
    right: 7px;
    bottom: 0;
    animation-name: FadeIn;
    animation-duration: 0.5s;
    transition-timing-function: linear;
}

.glowSelect{
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 3px -3px #17a3b852;
    }
    to {
        box-shadow: 0 0 3px 3px #17a3b83f;
    }
}

.helpLink:hover{
    color: rgba(29, 29, 190, 0.925);
    text-decoration: none !important;
    font-weight: 700 !important;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
    }
    
    @-moz-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
    }
    
    @-webkit-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
    }
    
    @-o-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
    }
    
    @-ms-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        }
    }

.middleMain{
    position: relative;
    border: 2px inset rgba(0, 0, 0, 0.623);
    min-height: 250px;
    box-shadow: 2px 2px 3px lightgray;
    background-color: rgb(212, 222, 235);
    border-radius: 3px;
}

#printCss{
    box-shadow: none !important;
}

#submitDisc{
    background-color: lightgray;
    margin-top: 1%;
}

.footer{
    text-align: center;
    height: 1.5rem;
    vertical-align: bottom;
}

.btn-sm{
    white-space: normal;
    line-height: 1.2 !important;
}

.mainContent .title{
    margin-bottom: 0;
}

.questionBox{
    font-size: 2.4rem;
    line-height: 1.7;
    color: #212121;
    padding: 0 10px 20px 20px;
    width: 100%;
}

.pdfPrint{
    color: #353535;
    font-size: 26px;
    display: inline;

}

.q4Save{
    display: inline;
    font-size: 26px;
    color: #353535;
    margin-right: 15px;
}

.pdfPrint:hover, .q4Save:hover{
    color:#32c4e9;
    cursor: pointer;
}

.optionsQ4{
    height: 50px;
}

.discDropdown{
    max-height: 600px;
    overflow: auto;
}

.disc{
    transition: 0.2s;
    cursor: pointer;
    font-weight: 700 !important;
}
.disc:hover{
    color: rgba(20, 20, 145, 0.925);
    text-shadow: 0px 0px 2px #6b6b6b;
}

.videoRow .col-md-6 h3{
    min-height: 100px;
}

.videoRow{
    display: flex;
    justify-content: space-around;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px #212121;
}

.oneQ{
    border: 1px solid black !important;
}

body{
    background-color: #fafafafa;
}

.CI_Cards{
    display: grid;
    height: 100%;
    width: 100%;
    position: relative;
}

.Student_CI_Cards{
    display: grid;
    height: 100%;
}

.DC_Icon_Cards{
    display: grid;
    height: 100%;
}

.DC_Icon_Posters{
    display: grid;
    height: 100%;
}

.Student_Icon_Cards{
    display: grid;
    height: 100%;
}

.allCards{
    min-height: 60vh;
}

.loader{
    position: fixed;
    top: 40%;
    left: 50%;
}

.dc-select-title{
    margin-bottom: 0;
}

.dc-overlay img, .fullscreen div img{
    max-width: 95%;
    max-height: 95vh;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

/* The overlay effect - lays on top of the container and over the image */
.dc-overlay {
    position: absolute;
    left: 0;
    overflow-y: auto;
    display: block;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    height: 85%;
    min-width: 10%;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.overlayPost{
    position: absolute;
    right: 0;
    bottom: 0;
    overflow-x: auto;
    display: inline-block;
    white-space: nowrap;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.308); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.dc-prev{
    /* position: absolute;
    left: 130px;
    top:200px; */
    font-weight: bold;
    font-size: 100px;
    color: red;
}

.dc-next{
    /* position: absolute;
    right: 120px; */
    font-weight: bold;
    /* top: 200px; */
    font-size: 100px;
    color: red;
}

.prevPost{
    position: absolute;
    left: 0;
    top:200px;
    font-weight: bold;
    font-size: 100px;
    color: red;
}

.nextPost{
    position: absolute;
    right: 0;
    font-weight: bold;
    top: 200px;
    font-size: 100px;
    color: red;
}

.thumb:hover{
    border: 2px solid yellow;
    border-radius: 3px;
}

.thumb:active{
    border: 3px solid red;
    border-radius: 5px;
}

.color:hover{
    color: #53a7ea;
    font-weight: bold;
}

.color2:hover{
    color: #de3ee4;
    font-weight: bold;
}

.logo{
    box-shadow: 3px 3px 5px gray;
}
